#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: grey;
}

.button {
    background-color: #000a07; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
#start {
    background-color: #4CAF50;
}
#joinBlack {
    background-color: #000000;
}
#joinWhite {
    background-color: #fffbfb;
    color: #000000;
}
#consensusbox {
    /* style so that items are in a row next to each other */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#whiteBoards {
    /* style so that items are in a row next to each other */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    background-color: #000a07;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.button:hover {
    background-color: #333; /* Change background color on hover */
}
